ACCESS_TOKEN_EXPIRY
ACCESS_TOKEN_SECRET
BASE_URL
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
CLOUDINARY_NAME
DB_NAME
DB_URI
IP_LOCATION_API_KEY
IP_LOCATION_URI
PORT
REFRESH_TOKEN_EXPIRY
REFRESH_TOKEN_SECRET
SHORT_URL